{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<div class="h-100 d-flex justify-content-center align-items-center bg-light overflow-hidden">
    <div class="text-center">
        <form method="post">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% if app.user %}
                <div class="mb-3">
                    You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
                </div>
            {% endif %}


            <h1 class="h3 mb-3 font-weight-normal">Logowanie</h1>
            <div class="d-flex flex-column align-items-center gap-2 flex-wrap justify-content-center">
            <input type="email"value="{{ last_username }}" name="email" id="inputEmail" class="form-control form-control-sm shadow-sm" autocomplete="email" required autofocus  placeholder="Email" >
            <input type="password" name="password" id="inputPassword" class="form-control form-control-sm shadow-sm" required placeholder="Hasło">
            </div>
            <input type="hidden" name="_csrf_token"
                value="{{ csrf_token('authenticate') }}"
            >

            {#
                Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                See https://symfony.com/doc/current/security/remember_me.html

                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" name="_remember_me"> Remember me
                    </label>
                </div>
            #}

            <button class="btn btn-primary mt-2" type="submit">
                Zaloguj się
            </button>
        </form>
    </div>
</div>
{% endblock %}
